/* * {
  list-style-type: none;
  text-decoration: none;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0053f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 95px;
  justify-content: space-evenly;
}
/*
.col {
  width: 25%;
}

.col h4 {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}

.col h4::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
}

.col ul li:not(last-child) {
  margin-bottom: 15px;
}

.col ul li a {
  color: #9897a9;
  font-size: 1.1rem;
  display: block;
  text-transform: capitalize;
  transition: 0.4s;
  margin-left: 50px;
}

.col ul li a:hover {
  color: rgb(0, 0, 0);
  transform: translateX(-1px);
}

.col .social {
  width: 220px;
  display: flex;
  align-items: center;
  justify-self: space-around;
}

.col .social a {
  height: 40px;
  width: 40px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.4s;
}

footer {
  background-image: url('images/man\ in\ brown\ fit.webp');
}
.col .social a:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
  background: black;
}

header {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
}

.logo {
  color: black;
  font-weight: 200;
  font-size: 1rem;
}

.navbar {
  display: flex;
}

.navbar img:hover {
  color: rgb(255, 140, 0);
  transform: scale(1.3);
  z-index: 1;
}
a {
  padding: 3px;
}
.navbar {
  color: red;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: rgb(255, 0, 0);
  transition: 0.4s;
  text-transform: uppercase;
} */
